*{
    margin: 0px;
    padding: 0px;
    margin: auto;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

p {
    text-align: justify;
    font-size: 18px;
}

/*HEADER*/

header {
    background-color: #ffffff;
    display: flex;
}

header nav ul {
    text-align: center;
    
}

header nav ul li{
    display: inline;
    padding: 40px 40px;
    text-align:left;

}

header nav ul li a {
    text-decoration: none;
    padding: 5px;
    color: #c21155;
}

header nav ul li a:hover {
    text-decoration: underline;
    padding: 5px;
    color: #c21155;
}

.logo {
    width: 100px;
    margin: 15px 0px 15px 70px;
}

/*CONTAINERS*/

.padre {
    display: flex;
    background-color: #ffffff;
    padding: 30px 60px 30px 30px;
    text-align: center;
    margin-top: 15px;
}

.padre p {
    margin: 0px 50px 50px 100px;
    color: #c11054;
}

.padre .marca {
    width: 300px;
    margin: 20px 20px;
}

.person .nuestra {
    width: 500px;
    margin: 100px 30px 100px 0px;

}

.person {
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

/*MADRE*/

.madre {
    display: flex;
    background-color: #752125;
    text-align: center;
    margin-top: 15px;
}

.madre .alter {
    width: 300px;
    margin: 10px 0px 20px 0px;
    padding-right: 80px;
}

.madre p {
    color: #fff;
    margin: 0px 100px 0px 130px;
    padding-right: 80px;
}

.vert .vertical {
    width: 200px;
    margin: 100px 250px 100px 20px;
}

/*TIA*/

.tia {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 15px;
    
}

.tia p {
    text-align: justify;
}

.tia .oe {
    flex-wrap: wrap;
    width: 200px;
}

.images {
    width: 200px;

}

/*FOOTER*/

footer {
    background-color: #c11054;
    display: flex;
    align-items: flex-start;
    padding: 50px 100px 50px 100px;
    
}

footer ul li a {
    padding: 5px;
    color: #fff;
    justify-content: end;
}

footer ul li a:hover {
    text-decoration: underline;
    padding: 5px;
    color: #fff;
    justify-content: end;
}

footer h3 {
    color: #fff;
}

footer h2 {
    color: #fff;
}

/* ##Dispositivo = Tablets, Ipads (horizontal) 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px)  {


}

/* ##Dispositivo = Tablets, Mobiles de 481px a 767px */
@media (min-width: 481px) and (max-width: 767px) {


}

/* ##Dispositivo = Smartphones de 320px a 479px */
@media (min-width: 320px) and (max-width: 480px) {


}